body {
  font-family: 'Arial';
  word-spacing: normal;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
table.titulo {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5px;
  width: 100%;
}
td.titulo-izq {
  width: 30%;
  text-align: left;
  vertical-align: top;
}
td.titulo-cen {
  width: 40%;
  vertical-align: top;
}
td.titulo-der {
  width: 30%;
  text-align: right;
  vertical-align: top;
}

/* FOMRULARIOS DE REGISTRO TIPO A Y B */
/* La propiedad 'bloque' se aplica sobre aquellos elementos que necesitan
aparecer en conjunto (obliga a que el contenido aparezca en una nueva página
si ésta ya no cabe en la pagina actual) */
.bloque {
  page-break-inside: avoid;
}
table.seccion {
  width: 100%;
  page-break-before: inherit;
  margin-bottom: 20px;
  border-right: solid grey 1px;
  border-bottom: solid grey 1px;
}
td.seccion-titulo {
  background-color: lightblue;
  font-weight: bold;
  font-size: 80%;
  padding: 5px;
  border-top: solid grey 1px;
  border-left: solid grey 1px;
}
td.seccion-contenido {
  padding: 5px;
  border-top: solid grey 1px;
  border-left: solid grey 1px;
}

table.campo {
  width: 100%;
}
td.campo-titulo {
  padding: 5px;
  width: 250px;
  font-weight: bold;
  text-align: left;
  font-size: 80%;
}
td.campo-titulo2 {
  font-weight: bold;
  text-align: center;
  font-size: 80%;
}
td.campo-titulo3 {
  font-weight: bold;
  text-align: center;
  font-size: 80%;
  font-style: italic;
}
td.campo-contenido {
  padding: 5px;
  border: solid lightgrey 1px;
  min-width: 350px;
  font-size: 80%;
}
td.campo-contenido2 {
  padding: 5px;
  border: solid lightgrey 1px;
  text-align: center;
  font-size: 80%;
}

td.campo-contenido-fecha {
  padding: 5px;
  border: solid lightgrey 1px;
  text-align: center;
}

td.check {
  padding: 5px;
  width: 20px;
  border: solid lightgrey 1px;
  text-align: center;
}
td.check-titulo {
  padding: 5px;
}
td.check-otro {
  padding: 5px;
  border: solid lightgrey 1px;
  min-width: 150px;
}
td.sh {
  width: 5px;
}
td.sh-fecha {
  width: 5px;
}
div.declaracion {
  margin-top: 10px;
}


/* FORMULARIOS DE AVANCE (COMPUTO METRICO) */
div.seccion {
  padding: 0px;
  margin-top: 10px;
  display: inline-block;
  float: left;
}
div.seccion-titulo {
  min-height: 22px;
  vertical-align: center;
  border-left: solid grey 1px;
  border-top: solid grey 1px;
  border-right: solid grey 1px;
  background-color: lightblue;
  text-align: left;
  margin: 0;
  padding: 5px;
  font-weight: bold;
  font-size: 80%;
}
div.seccion-contenido {
  border: solid grey 1px;
  margin: 0;
  padding: 5px;
}
div.seccion-contenido-sin-titulo {
  margin: 0;
  padding: 5px;
}
table.tabla-datos {
  margin: 5px;
  font-size: 80%;
}
table.tabla-datos-full {
  width: 100%;
  margin: 0;
  font-size: 80%;
}
td.left, th.left {
  border-left: solid grey 1px;
}
td.top, th.top {
  border-top: solid grey 1px;
}
td.titulo-dato, th.titulo-dato {
  background-color: lightblue;
  padding: 5px;
  border-top: solid grey 1px;
  border-bottom: solid grey 1px;
  border-right: solid grey 1px;
  text-align: center;
  font-weight: bold;
}
td.titulo-dato-l {
  background-color: lightblue;
  padding: 5px;
  border-top: solid grey 1px;
  border-bottom: solid grey 1px;
  border-right: solid grey 1px;
  text-align: left;
  font-weight: bold;
}
td.titulo-dato-r {
  background-color: lightblue;
  padding: 5px;
  border-top: solid grey 1px;
  border-bottom: solid grey 1px;
  border-right: solid grey 1px;
  text-align: right;
  font-weight: bold;
}
td.dato {
  padding: 5px;
  border-bottom: solid grey 1px;
  border-right: solid grey 1px;
  text-align: center;
}
td.dato-l {
  padding: 5px;
  border-bottom: solid grey 1px;
  border-right: solid grey 1px;
  text-align: left;
}
td.dato-r {
  padding: 5px;
  border-bottom: solid grey 1px;
  border-right: solid grey 1px;
  text-align: right;
}
td.titulo-campo {
  min-width: 150px;
  text-align: left;
  padding: 5px;
  vertical-align: center;
  font-weight: bold;
}
td.titulo-campo2 {
  width: 300px;
  text-align: left;
  padding: 5px;
  vertical-align: center;
  font-weight: bold;
}
td.contenido-campo {
  min-width: 250px;
  padding: 5px;
  vertical-align: center;
  border: solid lightgrey 1px;
}
td.contenido-campo2 {
  min-width: 100px;
  width: 30%;
  padding: 5px;
  text-align: right;
  vertical-align: center;
  border: solid lightgrey 1px;
}
td.resumen {
  min-width: 150px;
  max-width: 150px;
}
div.sv {
  height: 20px;
}
div.seccion-firmas {
  width: 100%;
  padding: 0px;
  margin: 10px;
  display: inline-block;
  text-align: center;
}
.firma {
  width: 300px;
  border-top: solid black 1px;
  margin-top: 80px;
  margin-bottom: 0px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 5px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  font-size: 11px;
}
td.firma-nombre {
  padding: 10px;
  height: 80px;
  vertical-align: top;
}
td.firma-fecha-titulo {
  font-weight: bold;
  border-top: solid grey 1px;
  border-left: solid grey 1px;
  border-bottom: solid grey 1px;
  padding: 10px;
}
td.firma-fecha-contenido {
  border-top: solid grey 1px;
  border-right: solid grey 1px;
  border-bottom: solid grey 1px;
}
td.firma-sello {
  border-left: solid grey 1px;
  border-right: solid grey 1px;
  border-bottom: solid grey 1px;
  height: 100px;
  text-align: left;
  vertical-align: bottom;
  padding: 5px;
}

p {
  page-break-inside: avoid;
  text-align: justify;
}
.text-right {
    text-align: right !important;
}
table.b-resumen {
  display: inline-block;
  vertical-align:top;
  font-size: 11px;
}
.contenido {
  padding: 5px;
  vertical-align: center;
  border: solid lightgrey 1px;
}
.col-media {
  max-width:50%;
  float:left;
}
.fz-11 {
  font-size: 11px !important;
}
.fz-12 {
  font-size: 12px !important;
}
.fz-13 {
  font-size: 13px !important;
}

.descripcion-item {
  width: 200px !important;
  max-width: 200px !important;
  min-width: 200px !important;
}
.resaltado {
  font-weight: bold;
}
.orden-trabajo {
  background: #C5CAE9 !important;
}
.orden-cambio {
  background: #AED581 !important;
}
.cmodificatorio {
  background: #FFF59D !important;
}
