<html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <title>Formulario A-2b</title>
  <style>
    {{css}}
  </style>
</head>
<body>

  <table class="titulo" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <!-- <td class="titulo-izq"></td> -->
      <td class="titulo-cen" style="width:100%">
        FORMULARIO A-2b<br>
        IDENTIFICACIÓN DEL PROPONENTE<br>
        (Para Asociaciones Accidentales)
      </td>
      <!-- <td class="titulo-der"></td> -->
    </tr>
  </table>

  <table class="seccion bloque" border="0" cellspacing="0" cellpading="0">
    <tr><td class="seccion-titulo">1. DATOS GENERALES DE LA ASOCIACIÓN ACCIDENTAL</td></tr>
    <tr>
      <td class="seccion-contenido">

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td class="campo-titulo">Denominación de la Asociación Accidental: </td>
            <td class="campo-contenido">{{datos_asociacion.nombre_asociacion}}</td>
          </tr>
        </table>

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td class="campo-titulo">Asociados: </td>
            <td class="campo-titulo2">#</td>
            <td class="sh"></td>
            <td class="campo-titulo2">Nombre del Asociado</td>
            <td class="sh"></td>
            <td class="campo-titulo2">% de participación</td>
          </tr>
          {{#each datos_asociacion.asociados}}
          <tr>
            <td></td>
            <td class="campo-contenido2">{{add @index 1}}</td>
            <td class="sh"></td>
            <td class="campo-contenido2">{{this.razon_social}}</td>
            <td class="sh"></td>
            <td class="campo-contenido2">{{this.participacion}} %</td>
          </tr>
          {{/each}}
        </table>

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="sh"></td>
            <td class="campo-titulo3" colspan="5">Fecha de expedición</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td></td>
            <td class="campo-titulo2" style="width:150px"></td>
            <td class="sh"></td>
            <td class="campo-titulo2" style="width:150px"></td>
            <td class="sh"></td>
            <td class="campo-titulo2" style="width:50px">Día</td>
            <td class="sh-fecha"></td>
            <td class="campo-titulo2" style="width:50px">Mes</td>
            <td class="sh-fecha"></td>
            <td class="campo-titulo2" style="width:50px">Año</td>
          </tr>
          <tr>
            <td class="campo-titulo">Testimonio de contrato: </td>
            <td class="campo-contenido2">{{datos_asociacion.nro_testimonio}}</td>
            <td class="sh"></td>
            <td class="campo-contenido2">{{datos_asociacion.lugar_testimonio}}</td>
            <td class="sh"></td>
            <td class="campo-contenido2">{{datos_asociacion.fecha_inscripcion.dia}}</td>
            <td class="sh-fecha"></td>
            <td class="campo-contenido2">{{datos_asociacion.fecha_inscripcion.mes}}</td>
            <td class="sh-fecha"></td>
            <td class="campo-contenido2">{{datos_asociacion.fecha_inscripcion.anio}}</td>
          </tr>
        </table>

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td class="campo-titulo">Nombre de la Empresa Lider: </td>
            <td class="campo-contenido">{{datos_generales.razon_social}}</td>
          </tr>
        </table>

      </td>
    </tr>
  </table>

  <table class="seccion bloque" border="0" cellspacing="0" cellpading="0">
    <tr><td class="seccion-titulo">2. DATOS DE CONTACTO DE LA EMPRESA LIDER</td></tr>
    <tr>
      <td class="seccion-contenido">

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td class="campo-titulo">País: </td>
            <td class="campo-contenido2" style="min-width:150px">{{datos_generales.pais}}</td>
            <td class="campo-titulo" style="width:100px">Ciudad: </td>
            <td class="campo-contenido2" style="min-width:150px">{{datos_generales.ciudad}}</td>
          </tr>
        </table>

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td class="campo-titulo">Dirección principal: </td>
            <td class="campo-contenido">{{datos_generales.direccion}}</td>
          </tr>
        </table>

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td class="campo-titulo">Teléfono: </td>
            <td class="campo-contenido2" style="min-width:150px">{{datos_generales.telefono}}</td>
            <td class="campo-titulo" style="width:100px">Fax: </td>
            <td class="campo-contenido2" style="min-width:150px">{{informacion_contacto.fax}}</td>
          </tr>
        </table>

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td class="campo-titulo">Correo electrónico: </td>
            <td class="campo-contenido">{{informacion_contacto.correo}}</td>
          </tr>
        </table>

      </td>
    </tr>
  </table>

  <table class="seccion bloque" border="0" cellspacing="0" cellpading="0">
    <tr>
      <td class="seccion-titulo">3. DATOS DEL REPRESENTANTE LEGAL DE LA ASOCIACIÓN ACCIDENTAL</td>
    </tr>
    <tr>
      <td class="seccion-contenido">

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td></td>
            <td class="campo-titulo2">Apellido Paterno</td>
            <td class="sh"></td>
            <td class="campo-titulo2">Apellido Materno</td>
            <td class="sh"></td>
            <td class="campo-titulo2">Nombres</td>
            <td class="sh"></td>
          </tr>
          <tr>
            <td class="campo-titulo">Nombre del Representante Legal: </td>
            <td class="campo-contenido2">{{datos_complementarios.representante_legal.primer_apellido}}</td>
            <td class="sh"></td>
            <td class="campo-contenido2">{{datos_complementarios.representante_legal.segundo_apellido}}</td>
            <td class="sh"></td>
            <td class="campo-contenido2">{{datos_complementarios.representante_legal.nombres}}</td>
          </tr>
        </table>

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td></td>
            <td class="campo-titulo2">Número</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td class="campo-titulo">Cédula de identidad del Representante Legal: </td>
            <td class="campo-contenido2" style="width:150px">{{datos_complementarios.representante_legal.ci}}</td>
          </tr>
        </table>

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="sh"></td>
            <td class="campo-titulo3" colspan="5">Fecha de inscripción</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td></td>
            <td class="campo-titulo2" style="width:150px">Nro de matricula</td>
            <td class="sh"></td>
            <td class="campo-titulo2" style="width:150px">Lugar de emisión</td>
            <td class="sh"></td>
            <td class="campo-titulo2" style="width:50px">Día</td>
            <td class="sh-fecha"></td>
            <td class="campo-titulo2" style="width:50px">Mes</td>
            <td class="sh-fecha"></td>
            <td class="campo-titulo2" style="width:50px">Año</td>
          </tr>
          <tr>
            <td class="campo-titulo">Poder del Representante Legal: </td>
            <td class="campo-contenido2">{{datos_complementarios.representante_legal.poder.nro_testimonio}}</td>
            <td class="sh"></td>
            <td class="campo-contenido2">{{datos_complementarios.representante_legal.poder.lugar_emision}}</td>
            <td class="sh"></td>
            <td class="campo-contenido2">{{datos_complementarios.representante_legal.poder.fecha_expedicion.dia}}</td>
            <td class="sh-fecha"></td>
            <td class="campo-contenido2">{{datos_complementarios.representante_legal.poder.fecha_expedicion.mes}}</td>
            <td class="sh-fecha"></td>
            <td class="campo-contenido2">{{datos_complementarios.representante_legal.poder.fecha_expedicion.anio}}</td>
          </tr>
        </table>

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td class="campo-titulo">Dirección del Representante Legal: </td>
            <td class="campo-contenido">{{datos_generales.direccion}}</td>
          </tr>
        </table>

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td class="campo-titulo">Teléfono: </td>
            <td class="campo-contenido2" style="min-width:150px">{{datos_generales.telefono}}</td>
            <td class="campo-titulo" style="width:100px">Fax: </td>
            <td class="campo-contenido2" style="min-width:150px">{{informacion_contacto.fax}}</td>
          </tr>
        </table>

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td class="campo-titulo">Correo electrónico: </td>
            <td class="campo-contenido">{{informacion_contacto.correo}}</td>
          </tr>
        </table>

        <div class="declaracion">
          <!-- Declaro en calidad de Representante Legal contar con un poder amplio y suficiente con facultades para presentar propuestas y suscribir contratos. -->
          Declaro en calidad de Representante Legal contar con la facultad amplia y suficiente para presentar propuestas y suscribir Contratos.
        </div>

      </td>
    </tr>
  </table>

  <!-- <table class="seccion bloque" border="0" cellspacing="0" cellpading="0">
    <tr><td class="seccion-titulo">4. MARGEN DE PREFERENCIA</td></tr>
    <tr>
      <td class="seccion-contenido">

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td class="check">{{#if margen_preferencia}}X{{/if}}</td>
            <td class="check-titulo">Empresa constructora con socios bolivianos cuya participación de acciones es igual o mayor al cincuenta y uno por ciento (51%).</td>
          </tr>
          <tr>
            <td class="check"></td>
            <td class="check-titulo">Por Generación de Empleo (En el caso de adjudicación por tramos o paquetes deberá establecer en el formulario A-10 para que tramos o paquetes se solicita el margen de preferencia).</td>
          </tr>
        </table>

      </td>
    </tr>
  </table> -->

  <table class="seccion bloque" border="0" cellspacing="0" cellpading="0">
    <tr><td class="seccion-titulo">4. INFORMACIÓN SOBRE NOTIFICACIONES</td></tr>
    <tr>
      <td class="seccion-contenido">
        <div class="declaracion" style="margin-top:0">Solicito que las notificaciones sean remitidas vía:</div>

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td class="check">{{#if informacion_contacto.correo_check}}X{{/if}}</td>
            <td class="campo-titulo">a) Vía correo electrónico: </td>
            <td class="campo-contenido">{{informacion_contacto.correo}}</td>
          </tr>
        </table>

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td class="check">{{#if informacion_contacto.fax_check}}X{{/if}}</td>
            <td class="campo-titulo">b) Vía fax: </td>
            <td class="campo-contenido">{{informacion_contacto.fax}}</td>
          </tr>
        </table>

      </td>
    </tr>
  </table>

  <table class="seccion bloque" border="0" cellspacing="0" cellpading="0">
    <tr><td class="seccion-titulo">5. EMPRESAS INTEGRANTES DE LA ASOCIACIÓN</td></tr>
    <tr>
      <td class="seccion-contenido">

      <div class="declaracion">
        Cada integrante de la Asociacion Accidental deberá llenar el Formato para identificación de integrantes de Asociaciones Accidentales que se encuentra a continuación (Formulario A-2c).
      </div>

      </td>
    </tr>
  </table>

</body>
</html>
