<html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <title>Formulario A-2c</title>
  <style>
    {{css}}
  </style>
</head>
<body>

  <table class="titulo" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <!-- <td class="titulo-izq"></td> -->
      <td class="titulo-cen" style="width:100%">
        FORMULARIO A-2c<br>
        IDENTIFICACIÓN DEL PROPONENTE<br>
        PARA INTEGRANTES DE LA ASOCIACIÓN ACCIDENTAL
      </td>
      <!-- <td class="titulo-der"></td> -->
    </tr>
  </table>

  <table class="seccion bloque" border="0" cellspacing="0" cellpading="0">
    <tr><td class="seccion-titulo">1. DATOS GENERALES DEL PROPONENTE</td></tr>
    <tr>
      <td class="seccion-contenido">

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td class="campo-titulo">Nombre del proponente o Razon Social: </td>
            <td class="campo-contenido">{{datos_generales.razon_social}}</td>
          </tr>
        </table>

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td></td>
            <td class="campo-titulo2">NIT</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td class="campo-titulo">Número de identificación tributaria<br>(Válido y Activo): </td>
            <td class="campo-contenido2" style="width:150px">{{datos_generales.nit}}</td>
          </tr>
        </table>

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td></td>
            <td></td>
            <td class="sh"></td>
            <td class="campo-titulo3" colspan="5">Fecha de expedición</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td></td>
            <td class="campo-titulo2" style="width:150px">Nro de matricula</td>
            <td class="sh"></td>
            <td class="campo-titulo2" style="width:50px">Día</td>
            <td class="sh-fecha"></td>
            <td class="campo-titulo2" style="width:50px">Mes</td>
            <td class="sh-fecha"></td>
            <td class="campo-titulo2" style="width:50px">Año</td>
          </tr>
          <tr>
            <td class="campo-titulo">Matricula de comercio<br>(Actualizada): </td>
            <td class="campo-contenido2">{{datos_generales.nro_matricula}}</td>
            <td class="sh"></td>
            <td class="campo-contenido2">{{datos_generales.fecha_inscripcion.dia}}</td>
            <td class="sh-fecha"></td>
            <td class="campo-contenido2">{{datos_generales.fecha_inscripcion.mes}}</td>
            <td class="sh-fecha"></td>
            <td class="campo-contenido2">{{datos_generales.fecha_inscripcion.anio}}</td>
          </tr>
        </table>

        <div class="declaracion">
          En el caso de que la Asociación Accidental esté conformada por una ONG no deberá ser llenada la información respecto a la matrícula de comercio.
        </div>

      </td>
    </tr>
  </table>

  <table class="seccion bloque" border="0" cellspacing="0" cellpading="0">
    <tr>
      <td class="seccion-titulo">2. DATOS COMPLEMENTARIOS DEL PROPONENTE
        <!-- <span style="font-size:90%;font-style:italic">(Suprimir este numeral cuando el proponente sea una empresa unipersonal y éste no acredite a un Representante)</span> -->
      </td>
    </tr>
    <tr>
      <td class="seccion-contenido">

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td></td>
            <td class="campo-titulo2">Apellido Paterno</td>
            <td class="sh"></td>
            <td class="campo-titulo2">Apellido Materno</td>
            <td class="sh"></td>
            <td class="campo-titulo2">Nombres</td>
            <td class="sh"></td>
          </tr>
          <tr>
            <td class="campo-titulo">Nombre del Representante Legal: </td>
            <td class="campo-contenido2">{{datos_complementarios.representante_legal.primer_apellido}}</td>
            <td class="sh"></td>
            <td class="campo-contenido2">{{datos_complementarios.representante_legal.segundo_apellido}}</td>
            <td class="sh"></td>
            <td class="campo-contenido2">{{datos_complementarios.representante_legal.nombres}}</td>
          </tr>
        </table>

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td></td>
            <td class="campo-titulo2">Número</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td class="campo-titulo">Cédula de identidad del Representante Legal: </td>
            <td class="campo-contenido2" style="width:150px">{{datos_complementarios.representante_legal.ci}}</td>
          </tr>
        </table>

        <table class="campo" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="sh"></td>
            <td class="campo-titulo3" colspan="5">Fecha de expedición</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td></td>
            <td class="campo-titulo2" style="width:150px">Número de Testimonio</td>
            <td class="sh"></td>
            <td class="campo-titulo2" style="width:150px">Lugar de emisión</td>
            <td class="sh"></td>
            <td class="campo-titulo2" style="width:50px">Día</td>
            <td class="sh-fecha"></td>
            <td class="campo-titulo2" style="width:50px">Mes</td>
            <td class="sh-fecha"></td>
            <td class="campo-titulo2" style="width:50px">Año</td>
          </tr>
          <tr>
            <td class="campo-titulo">Poder del Representante Legal: </td>
            <td class="campo-contenido2">{{datos_complementarios.representante_legal.poder.nro_testimonio}}</td>
            <td class="sh"></td>
            <td class="campo-contenido2">{{datos_complementarios.representante_legal.poder.lugar_emision}}</td>
            <td class="sh"></td>
            <td class="campo-contenido2">{{datos_complementarios.representante_legal.poder.fecha_expedicion.dia}}</td>
            <td class="sh-fecha"></td>
            <td class="campo-contenido2">{{datos_complementarios.representante_legal.poder.fecha_expedicion.mes}}</td>
            <td class="sh-fecha"></td>
            <td class="campo-contenido2">{{datos_complementarios.representante_legal.poder.fecha_expedicion.anio}}</td>
          </tr>
        </table>

      </td>
    </tr>
  </table>

</body>
</html>
