<html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <title>Informe</title>
  <style>
   /* body {
      font-size: 18px;
    }*/
    table {
      border-collapse: collapse;
    }
    /*.informe-evaluacion {

    }*/
    .informe-evaluacion p {
      text-align: justify;
      font-size: 15px;
    }

    table.referencia td {
      vertical-align: top;
    }

    .titulo {
      text-align: center;
      font-weight: bold;
    }
    .bold {
      font-weight: bold;
    }
    .center {
      text-align: center;
    }
    .left {
      text-align: left;
    }
    .right {
      text-align: right;
    }
    .backcolor {
      background-color: #BDD7EE;
    }
    .backcolor2 {
      background-color: #8DB3E2;
    }
    .informe-evaluacion table {
      width: 100%;
      border-collapse: collapse;
    }
    .informe-evaluacion table th,
    .informe-evaluacion table td {
      border: 1px solid #000;
      padding: 4px;
    }
    .informe-evaluacion table th {
      background-color: #BDD7EE;
      text-align: center;
    }
    .font-small {
      font-size: 10px;
    }
    .font-small2 {
     font-size: 15px;
    }
    .font-small3{
     font-size:12px;
    }
    .textarea {
      white-space: pre-wrap;
    }
  </style>
</head>
<body>
  <div style="page-break-inside: avoid;">  <!-- Hoja 1 -->
    <section>
    </section>
    <hr>
    <section>
     <center>
      <table class="font-small2 referencia" width="75%">
        <tr>
          <td class="center" colspan="4"><h4>INFORME DE EVALUACIÓN TÉCNICA FDI<br>INF {{codigo}}</h4></td>
        </tr>
	<tr>
	  <td class="center" colspan="4">&nbsp;</td>
	</tr>
        <tr>
          <td>&nbsp;</td><td><b>A</b></td><td>:</td>
          <td>{{informe.director}}
            <br><b>DIRECTORA GENERAL EJECUTIVA</b>
            <br><b>FONDO DE DESARROLLO INDÍGENA</b>
            <br>&nbsp;
            <br>
	    <br>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td><td><b>Vía</b></td><td>:</td>
          <td>{{informe.jefe_depto.nombre}}
            <br><b>{{informe.jefe_depto.cargo}}</b>
            <br>&nbsp;
            <br>
	    <br>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td><td><b>Vía</b></td><td>:</td>
          <td>{{informe.jefe_area.nombre}}
            <br><b>{{informe.jefe_area.cargo}}</b>
            <br>&nbsp;
            <br>
	    <br>
          </td>
        </tr>
       <!-- <tr>
          <td>&nbsp;</td><td><b>Vía</b></td><td>:</td>
          <td>Ing. Diego Alberto Pimentel Tejerina
            <br><b>RESPONSABLE DE EVALUACIÓN TÉCNICA DE LOS EDTP DE LOS PROGRAMAS Y/O PROYECTOS CARTERA IV</b>
            <br>&nbsp;
            <br>
            <br>
          </td>
        </tr>-->
        
        <tr>
          <td>&nbsp;</td><td><b>De</b></td><td>:</td>
          <td>{{informe.revisor.nombre}}
            <br><b>{{informe.revisor.cargo}}</b>
            <br>&nbsp;
            <br>
            <br>
          </td>
        </tr>
        <tr>
          <td>&nbsp;</td><td><b>Fecha</b></td><td>:</td>
          <td>{{fecha.dia}} de {{fecha.mes}} del {{fecha.anio}}&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td><td><b>Ref.</b></td><td>:</td>
          <td><b>{{nombre}}</b>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td><td><b>Municipio</b></td><td>:</td>
          <td><b>{{municipio}}</b><br>&nbsp;<br></td>
        </tr>
        <tr>
          <td>&nbsp;</td><td><b>Departamento</b></td><td>:</td>
          <td><b>{{departamento}}</b><br>&nbsp;<br></td>
        </tr>
      </table>
     </center>
    </section>
    <hr>
    <section class="informe-evaluacion">
      <h4>1. ANTECEDENTES.</h4>
      <p>El Fondo de Desarrollo Indígena, creado mediante Decreto Supremo Nº 2493 de 26 de agosto de 2015, tiene la finalidad de gestionar, financiar, ejecutar de manera directa y fiscalizar programas y proyectos para el desarrollo productivo de los Pueblos Indígena Originario Campesinos, Comunidades Campesinas, Interculturales y Afrobolivianas.</p>
      <p>En cumplimiento de lo dispuesto en el Decreto Supremo N° 3186, el FDI mediante Resolución Administrativa N° 204/2023 de fecha 3 de agosto de 2023 ha aprobado el  Reglamento de Evaluación y Aprobación de Programas y Proyectos, que establece parámetros y procedimientos para la evaluación y aprobación de programas y proyectos para el desarrollo productivo de los pueblos indígena originario campesinos y comunidades interculturales y afrobolivianas, a ser financiados por el Fondo de Desarrollo Indígena que serán ejecutados por Gobiernos Autónomos Municipales, Gobiernos de Autonomías Indígena Originario Campesinas.</p>
      <!--{{#notEqual informe.proyecto.tipo 'PRODUCTIVO'}}-->
      {{#equal incluirFPS 'Si'}}
      <p>El Fondo de Desarrollo Indígena ha suscrito con el Fondo Nacional de Inversión Productiva y Social (FPS) un convenio interinstitucional que tiene por objeto brindar asistencia técnica en la revisión técnica de proyectos de riego, puente e infraestructura productiva.</p>
      {{/equal}}
      <!--{{/notEqual}}-->
      <p>En sujeción al indicado Reglamento, el Departamento Técnico de Proyectos del FDI ha realizado la evaluación del {{#ifEquals informe.beneficiarios.tipo_financiamiento 'OP_TF_MIXTA'}} programa {{else}} proyecto {{/ifEquals}}: <b>"{{nombre}}"</b> en base a los informes de revisión técnica y visita de campo.</p>
    </section>
  </div>
  <div style="page-break-inside: avoid;"> <!-- Hoja 2 -->
    <section class="informe-evaluacion">
      <hr>
      <h4>2. DATOS GENERALES DEL {{#ifEquals informe.beneficiarios.tipo_financiamiento 'OP_TF_MIXTA'}}PROGRAMA.{{else}}PROYECTO.{{/ifEquals}}</h4>
      <table class="font-small3">
        <tr>
          <td class="bold backcolor2" rowspan="3">A. LOCALIZACIÓN</td>
          <td class="titulo backcolor">Departamento:</td>
          <td>{{departamento}}</td>
          <td class="titulo backcolor" rowspan="3">Comunidades</td>
          <td rowspan="3">{{#each informe.comunidades}} {{./nombre}}<br> {{/each}}</td>
        </tr>
        <tr>
          <td class="titulo backcolor">Provincia:</td>
          <td>{{provincia}}</td>
        </tr>
        <tr>
          <td class="titulo backcolor">Municipio:</td>
          <td>{{municipio}}</td>
        </tr>
        <tr>
          <td class="bold backcolor2">B. ENTIDAD PROPONENTE</td>
          <td colspan="4">{{procedencia}}</td>
        </tr>
        <tr>
          <td class="bold backcolor2">C. NOMBRE DEL {{#ifEquals informe.beneficiarios.tipo_financiamiento 'OP_TF_MIXTA'}} PROGRAMA{{else}} PROYECTO{{/ifEquals}}</td>
          <td colspan="4">{{nombre}}</td>
        </tr>
        <tr>
          <td class="bold backcolor2">D. TIPO DE {{#ifEquals informe.beneficiarios.tipo_financiamiento 'OP_TF_MIXTA'}} PROGRAMA{{else}} PROYECTO{{/ifEquals}}</td>
          <td colspan="2">{{informe.proyecto.tipo}}</td>
          <td class="bold backcolor2" rowspan="2">F. PLAZO EJECUCIÓN</td>
          <td rowspan="2">{{plazo_ejecucion}} días calendarios</td>
        </tr>
        <tr>
          <td class="bold backcolor2" rowspan="5">E. INVERSIÓN (en Bs.)</td>
          <td class="titulo backcolor">Costo total:</td>
          <td class="right">{{filter informe.financiamiento.monto_total_proyecto "numberToString"}}</td>
        </tr>
        <tr><td class="titulo backcolor">FDI:</td><td class="right">{{filter informe.financiamiento.monto_fdi "numberToString"}}</td><td class="bold backcolor2" rowspan="4">G. BENEFICIARIOS</td><td class="titulo backcolor">N°Comunidades</td></tr>
        <tr><td class="titulo backcolor">GAM:</td><td class="right">{{filter informe.financiamiento.monto_contraparte "numberToString"}}</td><td>{{informe.nro_comunidades}}</td></tr>
        <tr><td class="titulo backcolor">Beneficiarios:</td><td class="right">{{filter informe.financiamiento.monto_beneficiarios "numberToString"}}</td><td class="titulo backcolor">N° de Familias</td></tr>
        <tr><td class="titulo backcolor">Otros:</td><td class="right">{{filter informe.financiamiento.monto_otros "numberToString"}}</td><td>{{informe.nro_familias}}</td></tr>
        <tr>
          <td class="bold backcolor2">H. OBJETIVOS</td>
          <td colspan="4">{{{breaklines informe.objetivos}}}</td>
        </tr>
        <tr>
          <td class="bold backcolor2">I. METAS / RESULTADOS</td>
          <td colspan="4">{{{breaklines informe.metas_resultados}}}</td>
        </tr>
        <tr>
          <td class="bold backcolor2" rowspan="5">J. INDICADORES DE {{#ifEquals informe.beneficiarios.tipo_financiamiento 'OP_TF_MIXTA'}} PROGRAMA{{else}} PROYECTO{{/ifEquals}}</td>
          <td class="titulo backcolor" rowspan="3">{{#each informe.proyecto.indicadores}} {{this}}<br> {{/each}}</td>
          <td rowspan="3">{{informe.indicador.descripcion}}</td>
          <td class="titulo backcolor">Línea Base</td>
          <td>{{informe.indicador.linea_base}}</td>
        </tr>
        <tr>
          <td class="titulo backcolor">Indicador de Proceso</td>
          <td>{{informe.indicador.proceso}}</td>
        </tr>
        <tr>
          <td class="titulo backcolor">Indicador de Impacto</td>
          <td>{{informe.indicador.impacto}}</td>
        </tr>
        <tr>
          <td class="titulo backcolor" rowspan="2" colspan="2">Generación de Empleo</td>
          <td class="titulo backcolor">Directo</td>
          <td>{{informe.indicador.ge_directo}}</td>
        </tr>
        <tr>
          <td class="titulo backcolor">Indirecto</td>
          <td>{{informe.indicador.ge_indirecto}}</td>
        </tr>
      </table>
    </section>
  </div>
  <div style="page-break-inside: avoid;">
    <section class="informe-evaluacion">
      <h3>
      <h4>3. EVALUACION TECNICA DEL {{#ifEquals informe.beneficiarios.tipo_financiamiento 'OP_TF_MIXTA'}}PROGRAMA.{{else}}PROYECTO.{{/ifEquals}}</h4>
      <h4>3.1. Cumplimiento de criterios generales de elegibilidad.</h4>
      <table class="font-small2">
        <tr>
          <td class="titulo backcolor">N°</td>
          <td class="titulo backcolor">Criterio</td>
          <td class="titulo backcolor">Medios de verificación</td>
        </tr>
        <tr>
          <td>1</td>
          <td>El proyecto ha sido priorizado de manera consensuada por las organizaciones indígenas originario campesinas.</td>
          <td>Acta de consenso de priorización del proyecto, firmada por las Organizaciones Indígenas Originario Campesinas.</td>
        </tr>
        <tr>
          <td>2</td>
          <td>El EDTP corresponde a uno de los tipos de programas y/o proyectos establecidos por el FDI.</td>
          <td>Documento del EDTP.</td>
        </tr>
        <tr>
          <td>3</td>
          <td>
            {{#equal informe.proyecto.tipo 'PRODUCTIVO'}}
              El EDTP está elaborado en el formato correspondiente de acuerdo a lo establecido por el FDI.
            {{/equal}}
            {{#equal informe.proyecto.tipo 'RIEGO'}}
              El EDTP está elaborado en el formato del Viceministerio de Recursos Hídricos y Riego, dependiente del Ministerio de Medio Ambiente y Agua.
            {{/equal}}
            {{#equal informe.proyecto.tipo 'PUENTES'}}
              El EDTP está elaborado en el formato establecido por la R.M. 115 del Ministerio de Planificación del Desarrollo; Viceministerio de Inversión Pública y Financiamiento Externo y Lineamiento del FPS.
            {{/equal}}
            {{#equal informe.proyecto.tipo 'MAQUINARIA'}}
              El EDTP está elaborado en el formato correspondiente de acuerdo a lo establecido por el FDI.
            {{/equal}}
          </td>
          <td>Documento del EDTP.</td>
        </tr>
        <tr>
          <td>4</td>
          <td>La población beneficiaria del proyecto está constituida por familias de pequeños productores de los pueblos indígena originario campesinos, comunidades interculturales y/o afrobolivianas.</td>
          <td>Lista de beneficiarios con N° de Cédula de Identidad y firma.</td>
        </tr>
        <tr>
          <td>5</td>
          <td>El proyecto no sobrepasa los techos presupuestarios definidos por el FDI.</td>
          <td>Estructura de financiamiento del proyecto.</td>
        </tr>
      <!-- {{#each informe.criterios}}
        <tr>
          {{#each ./cols}}
          <td {{#if ./rowspan}}rowspan="{{./rowspan}}"{{/if}} {{#if ./colspan}}colspan="{{./colspan}}"{{/if}}>
            {{#if ./titulo}}
              <b>{{{./titulo}}}</b>
            {{/if}}
            {{#if ./contenido.type}}
              {{#equal ./contenido.type 'radio'}}
                <center style="font-size:20px">{{#if ./contenido.value}}X{{/if}}</center>
              {{/equal}}
              {{#equal ./contenido.type 'textarea'}}
                <div class="textarea">{{{./contenido.value}}}</div>
              {{/equal}}
            {{/if}}
            {{#unless ./contenido.type}}
              {{{./contenido}}}
            {{/unless}}
          </td>
          {{/each}}
        </tr>
      {{/each}} -->
      </table>
    </section>
  <!-- </div>
  <div style="page-break-inside: avoid;">  --><!-- Hoja 3 -->
    <section class="informe-evaluacion">
      <h4>3.2. Valoración de la sostenibilidad técnica, económica, social, ambiental y organizativa institucional del programa o proyecto.</h4>
      <table class="font-small2">
        <tr>
          <td class="titulo backcolor" rowspan="2">Indicador</td>
          <td class="titulo backcolor" rowspan="2">Parámetro</td>
          <td class="titulo backcolor" colspan="2">Valoración</td>
        </tr>
        <tr>
          <td class="titulo backcolor">CUMPLE</td>
          <td class="titulo backcolor">NO CUMPLE</td>
        </tr>
      {{#each informe.valoracion}}
        <tr>
          {{#each ./cols}}
          <td {{#if ./rowspan}}rowspan="{{./rowspan}}"{{/if}} {{#if ./colspan}}colspan="{{./colspan}}"{{/if}}>
            {{#if ./titulo}}
              <b>{{{./titulo}}}</b>
            {{/if}}
            {{#if ./contenido.type}}
              {{#equal ./contenido.type 'radio'}}
                <center style="font-size:20px">{{#if ./contenido.value}}X{{/if}}</center>
              {{/equal}}
              {{#equal ./contenido.type 'textarea'}}
                <div class="textarea">{{{./contenido.value}}}</div>
              {{/equal}}
              {{#equal ./contenido.type 'select'}}
                <div class="textarea">{{{./contenido.value.nombre}}}</div>
              {{/equal}}
              {{#equal ./contenido.type 'inputMoney'}}
                <div class="right">{{filter ./contenido.value "numberToString"}}</div>
              {{/equal}}
            {{/if}}
            {{#unless ./contenido.type}}
              {{{./contenido}}}
            {{/unless}}
          </td>
          {{/each}}
        </tr>
      {{/each}}
      </table>
      <p>La Entidad Ejecutora deberá presentar el documento ambiental antes del inicio de la ejecución del {{#ifEquals informe.beneficiarios.tipo_financiamiento 'OP_TF_MIXTA'}} Programa {{else}} Proyecto {{/ifEquals}}.</p>
    </section>
  </div>
  <div style="page-break-inside: avoid;"> <!-- Hoja 4 -->
    <section class="informe-evaluacion" style="page-break-inside: avoid;">
      <h4>3.3. Detalle de la estructura de los costos de inversión y fuente de financiamiento.</h4>
      <h5>Estructura de financiamiento:
        {{#equal informe.beneficiarios.tipo_financiamiento 'OP_TF_MIXTA'}} Mixta {{/equal}}
        {{#equal informe.beneficiarios.tipo_financiamiento 'OP_TF_PRIVADA'}} Privada {{/equal}}
        {{#equal informe.beneficiarios.tipo_financiamiento 'OP_TF_PUBLICA'}} Pública {{/equal}}
      </h5>
      <table class="font-small">
      {{#equal informe.financiamiento.cuadro.tipo 1}}
        <tr>
          <td class="titulo backcolor" rowspan="2">Costos de inversión</td>
          <td class="titulo backcolor" rowspan="2">Detalle de la inversión</td>
          <td class="titulo backcolor" rowspan="2">COSTO TOTAL (en Bs)</td>
          <td class="titulo backcolor" colspan="4">Fuente de financiamiento</td>
        </tr>
        <tr>
          <td class="titulo backcolor">FDI</td>
          <td class="titulo backcolor">GAM</td>
          <td class="titulo backcolor">BENEFICIARIOS (*)</td>
          <td class="titulo backcolor">Otros</td>
        </tr>
      {{/equal}}
      {{#equal informe.financiamiento.cuadro.tipo 2}}
        <tr>
          <td class="titulo backcolor" rowspan="3">Costos de inversión</td>
          <td class="titulo backcolor" rowspan="3">Detalle de la inversión</td>
          <td class="titulo backcolor" rowspan="3">COSTO TOTAL (en Bs)</td>
          <td class="titulo backcolor" colspan="8">ESTRUCTURA DE FINANCIAMIENTO<br>(En Bolivianos)</td>
        </tr>
        <tr>
          <td class="titulo backcolor" rowspan="2">FDI</td>
          <td class="titulo backcolor" rowspan="2">GAM</td>
          <td class="titulo backcolor" rowspan="2">BENEFICIARIOS</td>
          <td class="titulo backcolor" rowspan="2">OTROS</td>
          <td class="titulo backcolor" colspan="2">FDI</td>
          <td class="titulo backcolor" colspan="2">GAM</td>
        </tr>
        <tr>
          <td class="titulo backcolor">PÚBLICO</td>
          <td class="titulo backcolor">PRIVADO</td>
          <td class="titulo backcolor">PÚBLICO</td>
          <td class="titulo backcolor">PRIVADO</td>
        </tr>
      {{/equal}}
      {{#each informe.financiamiento.cuadro.datos}}
        <tr>
          {{#each ./cols}}
          <td {{#if ./rowspan}}rowspan="{{./rowspan}}"{{/if}} {{#if ./colspan}}colspan="{{./colspan}}"{{/if}}>
            {{#if ./titulo}}
              <b>{{{./titulo}}}</b>
            {{/if}}
            {{#if ./contenido.type}}
              {{#equal ./contenido.type 'radio'}}
                <center style="font-size:20px">{{#if ./contenido.value}}X{{/if}}</center>
              {{/equal}}
              {{#equal ./contenido.type 'textarea'}}
                <div class="textarea">{{{./contenido.value}}}</div>
              {{/equal}}
              {{#equal ./contenido.type 'inputMoney'}}
                <div class="right">{{filter ./contenido.value "numberToString"}}</div>
              {{/equal}}
            {{/if}}
            {{#unless ./contenido.type}}
              {{{./contenido}}}
            {{/unless}}
          </td>
          {{/each}}
        </tr>
      {{/each}}
      {{#equal informe.financiamiento.cuadro.tipo 1}}
        <tr>
          <td class="titulo" colspan="2">PORCENTAJES</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.porcentajes.total_referencia "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.porcentajes.porcentaje_fdi "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.porcentajes.porcentaje_gam "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.porcentajes.porcentaje_beneficiarios "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.porcentajes.porcentaje_otros "numberToString"}}</td>
        </tr>
        <tr>
          <td class="titulo" colspan="2">TOTALES</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.totales.costo_total "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.totales.fdi "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.totales.gam "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.totales.beneficiarios "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.totales.otros "numberToString"}}</td>
        </tr>
      {{/equal}}
      {{#equal informe.financiamiento.cuadro.tipo 2}}
        <tr>
          <td class="titulo" colspan="2">SUBTOTALES</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.totales.costo_total "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.totales.fdi "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.totales.gam "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.totales.beneficiarios "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.totales.otros "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.totales.publico "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.totales.privado "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.totales.gampublico "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.totales.gamprivado "numberToString"}}</td>
        </tr>
        <tr style="page-break-inside: avoid;">
          <td class="titulo" colspan="2">PORCENTAJES</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.porcentajes.total_referencia "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.porcentajes.porcentaje_fdi "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.porcentajes.porcentaje_gam "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.porcentajes.porcentaje_beneficiarios "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.porcentajes.porcentaje_otros "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.porcentajes.porcentaje_fdi_publico "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.porcentajes.porcentaje_fdi_privado "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.porcentajes.porcentaje_gam_publico "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.porcentajes.porcentaje_gam_privado "numberToString"}}</td>
        </tr>
        <tr style="page-break-inside: avoid;">
          <td class="titulo" colspan="2">TOTALES</td>
          <td class="titulo right" colspan="5">{{filter informe.financiamiento.cuadro.totales.costo_total "numberToString"}}</td>
          <td class="titulo right" colspan="2">{{filter informe.financiamiento.cuadro.totales.fdi_pp "numberToString"}}</td>
          <td class="titulo right" colspan="2">{{filter informe.financiamiento.cuadro.totales.gam_pp "numberToString"}}</td>
        </tr>
        <!--<tr style="page-break-inside: avoid;">
          <td class="titulo" colspan="2">TOTALES</td>
          <td class="titulo right" colspan="2">{{filter informe.financiamiento.cuadro.totales.fdi_gam "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.totales.beneficiarios "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.totales.otros "numberToString"}}</td>
          <td class="titulo right" colspan="2">{{filter informe.financiamiento.cuadro.totales.fdi_pp "numberToString"}}</td>
        </tr>-->
      {{/equal}}
      </table>
      <p>* Aporte en especie en caso excepcional</p>
      {{#notEqual informe.financiamiento.cuadro.observacion ''}}
      <p><strong>Detalle del aporte del beneficiario</strong><br>
        {{breaklines informe.financiamiento.cuadro.observacion}}</p>
      {{/notEqual}}
    </section>

    <section class="informe-evaluacion">
      <h4>4. CONCLUSIONES Y RECOMENDACION.</h4>
      <p>Por lo expuesto en el presente informe, en conformidad al Reglamento de Presentación, Evaluación y Aprobación de Programas y/o Proyectos Cartera IV "Fortaleciendo el Desarrollo Productivo", aprobado mediante Resolución Administrativa N°204/2023 del 3 de agosto de 2023, el Departamento Técnico de Proyectos del Fondo de Desarrollo Indígena concluye que el {{#ifEquals informe.beneficiarios.tipo_financiamiento 'OP_TF_MIXTA'}} programa {{else}} proyecto {{/ifEquals}}<b>"{{nombre}}"</b>
        {{#equal informe.estado_evaluacion 'RECHAZAR'}}<b> &nbsp; NO&nbsp;</b>{{/equal}}
        es factible de ejecución y recomienda
        <b>{{informe.estado_evaluacion}}</b>
        su financiamiento.
        En cumplimiento de los requisitos de presentación de programas y/o proyectos.
      </p>
    </section>
  </div>
</body>
</html>
