<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Planilla de avance de obra</title>
    <style>
      {{css}}
    </style>
  </head>
  <body>

    <table class="titulo" border="0" cellspacing="5" cellpading="0">
      <tr>
        <td class="titulo-izq"></td>
        <td class="titulo-cen">
          {{datos_proyecto.empresa}}<br>
          <strong>{{adjudicacion.referencia}}</strong>
          <br>PLANILLA DE AVANCE DE OBRA N° {{nro}}
          {{#ifNotEquals periodo_planilla.hasta '-'}}
          <br>DEL {{periodo_planilla.desde}} AL {{periodo_planilla.hasta}}
          {{/ifNotEquals}}
          {{#equal periodo_planilla.hasta '-'}}
          <br>{{periodo_planilla.desde}}
          {{/equal}}

          {{#ifNotEquals ./estado_supervision 'EN_ARCHIVO_FDI'}}
            {{#ifEquals estado_supervision 'EN_FISCAL_FDI'}}
              <br>(Pendiente de pago)
            {{else}}
              <br>(Pendiente de aprobación)
            {{/ifEquals}}
            
            }
          {{/ifNotEquals}}
        </td>
        <td class="titulo-der">Formulario 1<br>Fecha: {{fecha_elaboracion_planilla}}</td>
      </tr>
    </table>

    <div class="seccion" style="width:100%">
      <div class="seccion-titulo">I. DATOS DEL PROYECTO</div>
      <div class="seccion-contenido">
        <table class="bloque b-resumen" border="0" cellspacing="5" cellpadding="0" width="33%">
          <tr> <td class="titulo-campo text-right">Nombre: </td><td class="contenido-campo">{{datos_proyecto.nombre}}</td><td class="sh"></td> </tr>
          <tr> <td class="titulo-campo text-right">Departamento: </td><td class="contenido-campo">{{datos_proyecto.departamento}}</td><td class="sh"></td> </tr>
          <tr> <td class="titulo-campo text-right">Provincia: </td><td class="contenido-campo">{{datos_proyecto.provincia}}</td><td class="sh"></td> </tr>
          <tr> <td class="titulo-campo text-right">Municipio: </td><td class="contenido-campo">{{datos_proyecto.municipio}}</td><td class="sh"></td> </tr>
          <tr> <td class="titulo-campo text-right">Beneficiario: </td><td class="contenido-campo">{{datos_proyecto.entidad_beneficiaria}}</td><td class="sh"></td> </tr>
        </table>
        <table class="bloque b-resumen" border="0" cellspacing="5" cellpadding="0" width="32%">
          <!-- tr> <td class="titulo-campo text-right">Monto convenio: </td><td class="contenido-campo resumen text-right">{{datos_proyecto.monto_convenio}}</td><td class="sh"></td> </tr -->
          <tr> <td class="titulo-campo text-right">Monto Adjudicación: </td><td class="contenido-campo resumen text-right">{{adjudicacion.monto_inicial}}</td><td class="sh"></td> </tr>
          {{#each adjudicacion.modificaciones}}
          <tr> <td class="titulo-campo text-right">Modificación ({{this.tipo_modificacion_adjudicacion.nombre}}): </td><td class="contenido-campo resumen text-right">{{filter this.monto "numberToString"}}</td><td class="sh"></td> </tr>
          {{/each}}
          {{#notEqual adjudicacion.version 1}}
          <tr> <td class="titulo-campo text-right">Modificación ({{adjudicacion.tipo_modificacion_adjudicacion.nombre}}): </td><td class="contenido-campo resumen text-right">{{adjudicacion.monto}}</td><td class="sh"></td> </tr>
          {{/notEqual}}
          {{#notEqual adjudicacion.version 1}}
          <tr> <td class="titulo-campo text-right">Monto Total con modificación: </td><td class="contenido-campo resumen text-right">{{adjudicacion.monto}}</td><td class="sh"></td> </tr>
          {{/notEqual}}
        </table>
        <table class="bloque b-resumen" border="0" cellspacing="5" cellpadding="0" width="33%">
          <tr> <td class="titulo-campo text-right">Fecha inicio Proyecto<br>Libro de ordenes: </td><td class="contenido-campo resumen">{{datos_proyecto.fecha_inicio_obra}}</td> </tr>
          <tr> <td class="titulo-campo text-right">Plazo de ejecución: </td><td class="contenido-campo resumen">{{datos_proyecto.plazo_ejecucion}}</td> </tr>
          <tr> <td class="titulo-campo text-right">Ampliación de plazo: </td><td class="contenido-campo resumen">{{datos_proyecto.ampliacion_plazo}}</td> </tr>
          <tr> <td class="titulo-campo text-right">Fecha prevista p/Recepción Provisional: </td><td class="contenido-campo resumen">{{datos_proyecto.fecha_prevista_recepcion_provisional}}</td> </tr>
          <tr> <td class="titulo-campo text-right">Fecha prevista p/Recepción Definitiva: </td><td class="contenido-campo resumen">{{datos_proyecto.fecha_prevista_recepcion_definitiva}}</td> </tr>
        </table>
      </div>
    </div>

    <div class="seccion">
      <div class="seccion-contenido-sin-titulo">
      {{#each modulos}}
        <strong class="fz-13">{{this.nombre}}</strong>
        <table class="tabla-datos-full fz-11" border="0" cellspacing="0" cellpadding="0">
          <thead>
            <tr>
              <td class="titulo-dato left" rowspan="2">N°</td>
              <td class="titulo-dato descripcion-item" rowspan="2">DESCRIPCIÓN DE ITEMS</td>
              <td class="titulo-dato" rowspan="2">UNIDAD</td>
              {{#each ../adjudicacion.adjudicacion_historico}}
                {{#equal tipo_modificacion 'INICIAL'}}
                <th class="titulo-dato" colspan="3">{{filter this.tipo_modificacion_adjudicacion.nombre 'uppercase'}} {{this.tipo_modificacion_adjudicacion.numero}}</th>
                {{/equal}}
                {{#equal tipo_modificacion 'TM_CONTRATO_MODIFICATORIO'}}
                <th class="titulo-dato" colspan="3">{{filter this.tipo_modificacion_adjudicacion.nombre 'uppercase'}} {{this.tipo_modificacion_adjudicacion.numero}}</th>
                {{/equal}}
                {{#equal tipo_modificacion 'TM_ORDEN_TRABAJO'}}
                <th class="titulo-dato" colspan="2">{{filter this.tipo_modificacion_adjudicacion.nombre 'uppercase'}} {{this.tipo_modificacion_adjudicacion.numero}}</th>
                {{/equal}}
                {{#equal tipo_modificacion 'TM_ORDEN_CAMBIO'}}
                <th class="titulo-dato" colspan="2">{{filter this.tipo_modificacion_adjudicacion.nombre 'uppercase'}} {{this.tipo_modificacion_adjudicacion.numero}}</th>
                {{/equal}}
              {{/each}}
              <td class="titulo-dato" colspan="4" style="border-bottom:0">VOLÚMENES DE AVANCE</td>
              <td class="titulo-dato" colspan="4" style="border-bottom:0">AVANCE FINANCIERO</td>
              <td class="titulo-dato" rowspan="2">% EJECUTADO FISICO</td>
              <td class="titulo-dato" rowspan="2">% EJECUTAR</td>
              <td class="titulo-dato" rowspan="2">% EJECUTADO FINANCIERO</td>
              <td class="titulo-dato" rowspan="2">% EJECUTAR</td>
            </tr>
            <tr>
              {{#each ../adjudicacion.adjudicacion_historico}}
                <td class="titulo-dato">CANT.</td>
                {{#equal tipo_modificacion 'INICIAL'}}
                <td class="titulo-dato">PRECIO UNITARIO</td>
                {{/equal}}
                {{#equal tipo_modificacion 'TM_CONTRATO_MODIFICATORIO'}}
                  <td class="titulo-dato">PRECIO UNITARIO</td>
                {{/equal}}
                <td class="titulo-dato">TOTAL (Bs.)</td>
              {{/each}}
              <td class="titulo-dato">ANTERIOR</td>
              <td class="titulo-dato">ACTUAL</td>
              <td class="titulo-dato">TOTAL ACUMULADO</td>
              <td class="titulo-dato">FALTA EJECUTAR</td>
              <td class="titulo-dato">ANTERIOR</td>
              <td class="titulo-dato">ACTUAL</td>
              <td class="titulo-dato">TOTAL ACUMULADO</td>
              <td class="titulo-dato">FALTA EJECUTAR</td>
            </tr>
          </thead>
          {{#each this.items}}
          <tr class="bloque">
            <td class="dato left">{{nro_item}}</td>
            <td class="dato-l descripcion-item">{{nombre}}</td>
            <td class="dato">{{filter unidad.nombre "uppercase"}}</td>
            {{#each item_historico}}

              <td class="dato-r {{#equal modificacion 'TM_ORDEN_TRABAJO'}} orden-trabajo {{/equal}} {{#equal modificacion 'TM_ORDEN_CAMBIO'}} orden-cambio {{/equal}} {{#equal modificacion 'TM_CONTRATO_MODIFICATORIO'}} cmodificatorio {{/equal}}">
                <span class="{{#if modificado}} resaltado {{/if}}">{{filter this.cantidad "numberToString"}}</span>
              </td>

              {{#equal modificacion 'INICIAL'}}
                <td class="dato-r {{#equal modificacion 'TM_ORDEN_TRABAJO'}} orden-trabajo {{/equal}} {{#equal modificacion 'TM_ORDEN_CAMBIO'}} orden-cambio {{/equal}} {{#equal modificacion 'TM_CONTRATO_MODIFICATORIO'}} cmodificatorio {{/equal}}">{{filter this.precio_unitario "numberToString"}}</td>
              {{/equal}}
              {{#equal modificacion 'TM_CONTRATO_MODIFICATORIO'}}
                <td class="dato-r {{#equal modificacion 'TM_ORDEN_TRABAJO'}} orden-trabajo {{/equal}} {{#equal modificacion 'TM_ORDEN_CAMBIO'}} orden-cambio {{/equal}} {{#equal modificacion 'TM_CONTRATO_MODIFICATORIO'}} cmodificatorio {{/equal}}">
                  <span class="{{#if modificado}} resaltado {{/if}}">{{filter this.precio_unitario "numberToString"}}</span>
                </td>
              {{/equal}}
              <td class="dato-r {{#equal modificacion 'TM_ORDEN_TRABAJO'}} orden-trabajo {{/equal}} {{#equal modificacion 'TM_ORDEN_CAMBIO'}} orden-cambio {{/equal}} {{#equal modificacion 'TM_CONTRATO_MODIFICATORIO'}} cmodificatorio {{/equal}}">
                <span class="{{#if modificado}} resaltado {{/if}}">{{filter this.total "numberToString"}}</span>
              </td>
            {{/each}}

            <td class="dato-r {{#equal ../../adjudicacion.modificacion 'TM_ORDEN_TRABAJO'}} orden-trabajo {{/equal}} {{#equal ../../adjudicacion.modificacion 'TM_ORDEN_CAMBIO'}} orden-cambio {{/equal}} {{#equal ../../adjudicacion.modificacion 'TM_CONTRATO_MODIFICATORIO'}} cmodificatorio {{/equal}}">
              <span class="{{#if modificado}} resaltado {{/if}}">{{filter cantidad "numberToString"}}</span>
            </td>
            {{#equal ../../adjudicacion.modificacion 'INICIAL'}}
              <td class="dato-r {{#equal ../../adjudicacion.modificacion 'TM_ORDEN_TRABAJO'}} orden-trabajo {{/equal}} {{#equal ../../adjudicacion.modificacion 'TM_ORDEN_CAMBIO'}} orden-cambio {{/equal}} {{#equal ../../adjudicacion.modificacion 'TM_CONTRATO_MODIFICATORIO'}} cmodificatorio {{/equal}}">
                <span class="{{#if modificado}} resaltado {{/if}}">{{filter precio_unitario "numberToString"}}</span>
              </td>
            {{/equal}}
            {{#equal ../../adjudicacion.modificacion 'TM_CONTRATO_MODIFICATORIO'}}
              <td class="dato-r {{#equal ../../adjudicacion.modificacion 'TM_ORDEN_TRABAJO'}} orden-trabajo {{/equal}} {{#equal ../../adjudicacion.modificacion 'TM_ORDEN_CAMBIO'}} orden-cambio {{/equal}} {{#equal ../../adjudicacion.modificacion 'TM_CONTRATO_MODIFICATORIO'}} cmodificatorio {{/equal}}">
                <span class="{{#if modificado}} resaltado {{/if}}">{{filter precio_unitario "numberToString"}}</span>
              </td>
            {{/equal}}
            <td class="dato-r {{#equal ../../adjudicacion.modificacion 'TM_ORDEN_TRABAJO'}} orden-trabajo {{/equal}} {{#equal ../../adjudicacion.modificacion 'TM_ORDEN_CAMBIO'}} orden-cambio {{/equal}} {{#equal ../../adjudicacion.modificacion 'TM_CONTRATO_MODIFICATORIO'}} cmodificatorio {{/equal}}">
              <span class="{{#if modificado}} resaltado {{/if}}">{{filter total "numberToString"}}</span>
            </td>
            <td class="dato-r">{{filter cantidad_anterior_fis "numberToString"}}</td>
            <td class="dato-r">{{filter cantidad_actual_fis "numberToString"}}</td>
            <td class="dato-r">{{filter total_acumulado_fis "numberToString"}}</td>
            <td class="dato-r">{{filter falta_ejecutar_fis "numberToString"}}</td>
            <td class="dato-r">{{filter cantidad_anterior_fin "numberToString"}}</td>
            <td class="dato-r">{{filter cantidad_actual_fin "numberToString"}}</td>
            <td class="dato-r">{{filter total_acumulado_fin "numberToString"}}</td>
            <td class="dato-r">{{filter falta_ejecutar_fin "numberToString"}}</td>
            <td class="dato-r">{{filter ejecutado_porcentaje_fis "numberToString"}}</td>
            <td class="dato-r">{{filter ejecutar_porcentaje_fis "numberToString"}}</td>
            <td class="dato-r">{{filter ejecutado_porcentaje_fin "numberToString"}}</td>
            <td class="dato-r">{{filter ejecutar_porcentaje_fin "numberToString"}}</td>
          </tr>
          {{/each}}
        </table>
        <div class="sv"></div>
        {{/each}}
      </div>
    </div>

    <div class="seccion" style="width:100%">
      <div class="seccion-contenido-sin-titulo">
        <table class="bloque fz-11" border="0" cellspacing="5" cellpadding="0">
          <tr>
            <td class="titulo-campo">MONTO ACTUAL EJECUTADO</td><td class="contenido-campo">{{totales.monto_actual_ejecutado}}</td><td class="sh"></td>
            <td class="titulo-campo">MONTO ACTUAL ACUMULADO A LA FECHA</td><td class="contenido-campo">{{totales.monto_total_acumulado_a_la_fecha}}</td>
          </tr>
          <tr>
            <td class="titulo-campo">PORCENTAJE TOTAL EJECUTADO</td><td class="contenido-campo">{{totales.porcentaje_total_ejecutado}}</td><td class="sh"></td>
            <td class="titulo-campo">MONTO TOTAL POR EJECUTAR</td><td class="contenido-campo">{{totales.monto_total_por_ejecutar}}</td>
          </tr>
        </table>
        <div class="sv"></div>
      </div>
    </div>

    <div class="seccion">
      <div class="seccion-contenido-sin-titulo">

        <!-- div class="seccion bloque">
          <div class="seccion-contenido-sin-titulo">

            <table class="tabla-datos" border="0" cellspacing="0" cellpadding="0">
              <tr class="bloque">
                <td class="titulo-dato left" colspan="3" style="text-align:left;border-bottom:0">II. VERIFICACIÓN DE BOLETAS DE GARANTÍA</td>
              </tr>
              <tr class="bloque">
                <td class="titulo-dato left" style="min-width:300px">DESCRIPCIÓN</td>
                <td class="titulo-dato" style="min-width:200px">TIPO</td>
                <td class="titulo-dato" style="min-width:200px">FECHA DE VENCIMIENTO</td>
              </tr>
              {{#each boletas}}
              <tr class="bloque">
                <td class="dato left">{{this.tipo_boleta}}</td>
                <td class="dato">{{this.tipo_documento}}</td>
                <td class="dato">{{this.fecha_fin_validez}}</td>
              </tr>
              {{/each}}
            </table>

          </div>
        </div -->

        <div class="seccion bloque" style="align-content: right">
          <div class="seccion-contenido-sin-titulo">

            <table class="tabla-datos" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td class="titulo-dato left" colspan="2" style="text-align:left">III. INFORME TÉCNICO DE CONCLUSIONES</td>
              </tr>
              <tr>
                <td class="titulo-dato-r left" style="min-width:300px;border-top:0">AVANCE FÍSICO</td>
                <td class="dato" style="min-width:150px">{{totales.porcentaje_avance_fisico}}</td>
              </tr>
              <tr>
                <td class="titulo-dato-r left" style="min-width:300px;border-top:0">AVANCE FINANCIERO</td>
                <td class="dato" style="min-width:150px">{{totales.porcentaje_avance_financiero}}</td>
              </tr>
              <tr>
                <td class="dato left" colspan="2" style="height:100px;min-width:600px;text-align:left;vertical-align:top">{{informe}}</td>
              </tr>
              <tr>
                <td class="dato-l left" colspan="2">Breve informe narrativo del Supervisor acerca de la situación del proyecto.</td>
              </tr>
              {{#notEqual datos_proyecto.fecha_aprobacion ""}}
              <tr>
                <td class="dato-l left" colspan="2">La Planilla fue APROBADA por el FISCAL en fecha {{datos_proyecto.fecha_aprobacion}}.</td>
              </tr>
              {{/notEqual}}
            </table>

          </div>
        </div>

      </div>
    </div>

    <div class="seccion bloque">
      <div class="seccion-contenido-sin-titulo">
        <div class="declaracion">
          La presente planilla tiene valor de declaración Jurada, por lo que si se identifica cualquier falsedad, se realizarán las acciones legales respectivas en contra del/la infractor/a).
        </div>
        <div class="seccion-firmas">
          <div class="firma">FIRMA DEL REPRESENTANTE LEGAL<br>EMPRESA CONSTRUCTORA / CONSULTORA</div>
          <div class="firma">FIRMA DEL SUPERVISOR</div>
          <div class="firma">FIRMA DEL FISCAL</div>
          <div class="firma">FIRMA DEL RESPONSABLE TÉCNICO DE LA EMPRESA</div>
          <div class="firma">FIRMA DEL ALCALDE</div>
        </div>
      </div>
    </div>

  </body>
</html>
