<html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <title>Informe</title>
  <style>
    body {
      font-size: 10px;
    }
    table {
      border-collapse: collapse;
    }
    .informe-evaluacion {

    }
    .informe-evaluacion p {
      text-align: justify;
      font-size: 10px;
    }

    table.referencia td {
      vertical-align: top;
    }

    .titulo {
      text-align: center;
      font-weight: bold;
    }
    .bold {
      font-weight: bold;
    }
    .center {
      text-align: center;
    }
    .left {
      text-align: left;
    }
    .right {
      text-align: right;
    }
    .backcolor {
      background-color: #BDD7EE;
    }
    .backcolor2 {
      background-color: #8DB3E2;
    }
    .informe-evaluacion table {
      width: 100%;
      border-collapse: collapse;
    }
    .informe-evaluacion table th,
    .informe-evaluacion table td {
      border: 1px solid #000;
      padding: 4px;
    }
    .informe-evaluacion table th {
      background-color: #BDD7EE;
      text-align: center;
    }
    .font-small {
      font-size: 8px;
    }
    .textarea {
      white-space: pre-wrap;
    }
  </style>
</head>
<body>
  <div style="page-break-inside: avoid;">  <!-- Hoja 1 -->
    <section>
      <div>
        <table width="100%" class="font-small">
          <tr>
            
            <th>FONDO DE DESARROLLO INDIGENA<br>FICHA TÉCNICA DEL {{#ifEquals informe.beneficiarios.tipo_financiamiento 'OP_TF_MIXTA'}} PROGRAMA{{else}} PROYECTO{{/ifEquals}}</th>
            
          </tr>
        </table>
      </div>
    </section>

    <hr>

    <section class="informe-evaluacion">
      <table class="font-small">
        {{#equal informe.beneficiarios.tipo_financiamiento 'OP_TF_MIXTA'}}
          <tr>
            <td class="bold backcolor2" style="width:100px;">Nombre genérico:<br>PROGRAMA</td>
            <td colspan="5">{{nombre}}</td>
          </tr>
          <tr>
            <td class="bold backcolor2">Nombre formal:<br>Componente público</td>
            <td colspan="5">{{informe.financiamiento.nombre_componente_publico}}</td>
          </tr>
          <tr>
            <td class="bold backcolor2">Nombre transferencia:<br>público privado</td>
            <td colspan="5">{{nombre}}</td>
          </tr>
        {{/equal}}
        {{#equal informe.beneficiarios.tipo_financiamiento 'OP_TF_PRIVADA'}}
          <tr>
            <td class="bold backcolor2">PROYECTO:</td>
            <td colspan="5">{{nombre}}</td>
          </tr>
        {{/equal}}
        {{#equal informe.beneficiarios.tipo_financiamiento 'OP_TF_PUBLICA'}}
          <tr>
            <td class="bold backcolor2">PROYECTO:</td>
            <td colspan="5">{{nombre}}</td>
          </tr>
        {{/equal}}
        <tr>
          <td class="bold backcolor2">DEPTO:</td>
          <td>{{departamento}}</td>
          <td class="bold backcolor2">MUNICIPIO:</td>
          <td colspan="3">{{municipio}}</td>
        </tr>
        <tr>
          <td class="bold backcolor2">TIPO DE {{#ifEquals informe.beneficiarios.tipo_financiamiento 'OP_TF_MIXTA'}} PROGRAMA{{else}} PROYECTO{{/ifEquals}}:</td>
          <td colspan="2">{{informe.proyecto.tipo}}</td>
          <td rowspan="2" class="bold backcolor2">BENEFICIARIO:</td>
          <td titulo backcolor>COMUNIDADES</td>
          <td>{{informe.nro_comunidades}}</td>
        </tr>
        <tr>
          <td class="bold backcolor2">INVERSIÓN:</td>
          <td colspan="2">
            {{#equal informe.beneficiarios.tipo_financiamiento 'OP_TF_MIXTA'}} Mixta {{/equal}}
            {{#equal informe.beneficiarios.tipo_financiamiento 'OP_TF_PRIVADA'}} Privada {{/equal}}
            {{#equal informe.beneficiarios.tipo_financiamiento 'OP_TF_PUBLICA'}} Pública {{/equal}}
          </td>
          <td titulo backcolor>FAMILIAS</td>
          <td>{{informe.nro_familias}}</td>
        </tr>
        <tr>
          <td colspan="2" class="bold backcolor2">INDICADOR DE IMPACTO</td>
          <td colspan="4">{{informe.indicador.impacto}}</td>
        </tr>
        <tr>
          <td class="bold backcolor2">PLAZO (meses)</td>
          <td>{{informe.plazoMeses}}</td>
          <td class="bold backcolor2">PLAZO (dias)</td>
          <td>{{informe.plazoDias}}</td>
          <td class="bold backcolor2">FECHA</td>
          <td>{{fecha.dia}} de {{fecha.mes}} de {{fecha.anio}}</td>
        </tr>
      </table>
    </section>
    <br>
  <!--
  </div>

  <div style="page-break-inside: avoid;">
  -->
    <section class="informe-evaluacion">
      <table class="font-small">
      {{#equal informe.financiamiento.cuadro.tipo 1}}
        <tr style="page-break-inside: avoid;">
          <td class="titulo backcolor" rowspan="2">Costos de inversión</td>
          <td class="titulo backcolor" rowspan="2">Detalle de la inversión</td>
          <td class="titulo backcolor" rowspan="2">COSTO TOTAL (en Bs)</td>
          <td class="titulo backcolor" colspan="4">Fuente de financiamiento</td>
        </tr>
        <tr style="page-break-inside: avoid;">
          <td class="titulo backcolor">FDI</td>
          <td class="titulo backcolor">GAM</td>
          <td class="titulo backcolor">BENEFICIARIOS (*)</td>
          <td class="titulo backcolor">Otros</td>
        </tr>
      {{/equal}}
      {{#equal informe.financiamiento.cuadro.tipo 2}}
        <tr style="page-break-inside: avoid;">
          <td class="titulo backcolor" rowspan="3">Costos de inversión</td>
          <td class="titulo backcolor" rowspan="3">Detalle de la inversión</td>
	  {{#ifEquals cartera 3}}
	    <td class="titulo backcolor" colspan="6">ESTRUCTURA DE FINANCIAMIENTO<br>(En Bolivianos)</td> 
	  {{else}}
	    <td class="titulo backcolor" rowspan="3">COSTO TOTAL (en Bs)</td>
	    <td class="titulo backcolor" colspan="8">ESTRUCTURA DE FINANCIAMIENTO<br>(En Bolivianos)</td>
	  {{/ifEquals}}
          
        </tr>
        <tr style="page-break-inside: avoid;">
          <td class="titulo backcolor" rowspan="2">FDI</td>
          <td class="titulo backcolor" rowspan="2">GAM</td>
          <td class="titulo backcolor" rowspan="2">BENEFICIARIOS</td>
          <td class="titulo backcolor" rowspan="2">OTROS</td>
          <td class="titulo backcolor" colspan="2">FDI</td>
	  {{#ifNotEquals cartera 3}}
          <td class="titulo backcolor" colspan="2">GAM</td>
	  {{/ifNotEquals}}
        </tr>
        <tr style="page-break-inside: avoid;">
          <td class="titulo backcolor">PÚBLICO</td>
          <td class="titulo backcolor">PRIVADO</td>
	  {{#ifNotEquals cartera 3}}
          <td class="titulo backcolor">PÚBLICO</td>
          <td class="titulo backcolor">PRIVADO</td>
	  {{/ifNotEquals}}
        </tr>
      {{/equal}}
      {{#each informe.financiamiento.cuadro.datos}}
        <tr style="page-break-inside: avoid;">
          {{#each ./cols}}
          <td {{#if ./rowspan}}rowspan="{{./rowspan}}"{{/if}} {{#if ./colspan}}colspan="{{./colspan}}"{{/if}}>
            {{#if ./titulo}}
              <b>{{{./titulo}}}</b>
            {{/if}}
            {{#if ./contenido.type}}
              {{#equal ./contenido.type 'radio'}}
                <center style="font-size:20px">{{#if ./contenido.value}}X{{/if}}</center>
              {{/equal}}
              {{#equal ./contenido.type 'textarea'}}
                <div class="textarea">{{{./contenido.value}}}</div>
              {{/equal}}
              {{#equal ./contenido.type 'inputMoney'}}
                <div class="right">{{filter ./contenido.value "numberToString"}}</div>
              {{/equal}}
            {{/if}}
            {{#unless ./contenido.type}}
              {{{./contenido}}}
            {{/unless}}
          </td>
          {{/each}}
        </tr>
      {{/each}}

      {{#equal informe.financiamiento.cuadro.tipo 1}}
        <tr style="page-break-inside: avoid;">
          <td class="titulo" colspan="2">PORCENTAJES</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.porcentajes.total_referencia "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.porcentajes.porcentaje_fdi "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.porcentajes.porcentaje_gam "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.porcentajes.porcentaje_beneficiarios "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.porcentajes.porcentaje_otros "numberToString"}}</td>
        </tr>
        <tr style="page-break-inside: avoid;">
          <td class="titulo" colspan="2">TOTALES</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.totales.costo_total "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.totales.fdi "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.totales.gam "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.totales.beneficiarios "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.totales.otros "numberToString"}}</td>
        </tr>
      {{/equal}}
      {{#equal informe.financiamiento.cuadro.tipo 2}}
        <tr style="page-break-inside: avoid;">
          <td class="titulo" colspan="2">SUBTOTALES</td>
	  {{#ifNotEquals cartera 3}}
            <td class="titulo right">{{filter informe.financiamiento.cuadro.totales.costo_total "numberToString"}}</td>
	  {{/ifNotEquals}}
          <td class="titulo right">{{filter informe.financiamiento.cuadro.totales.fdi "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.totales.gam "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.totales.beneficiarios "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.totales.otros "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.totales.publico "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.totales.privado "numberToString"}}</td>
	  {{#ifNotEquals cartera 3}}
          <td class="titulo right">{{filter informe.financiamiento.cuadro.totales.gampublico "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.totales.gamprivado "numberToString"}}</td>
	  {{/ifNotEquals}}
        </tr>
        <tr style="page-break-inside: avoid;">
          <td class="titulo" colspan="2">PORCENTAJES</td>
	  {{#ifNotEquals cartera 3}}
          <td class="titulo right">{{filter informe.financiamiento.cuadro.porcentajes.total_referencia "numberToString"}}</td>
	  {{/ifNotEquals}}
          <td class="titulo right">{{filter informe.financiamiento.cuadro.porcentajes.porcentaje_fdi "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.porcentajes.porcentaje_gam "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.porcentajes.porcentaje_beneficiarios "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.porcentajes.porcentaje_otros "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.porcentajes.porcentaje_fdi_publico "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.porcentajes.porcentaje_fdi_privado "numberToString"}}</td>
	  {{#ifNotEquals cartera 3}}
          <td class="titulo right">{{filter informe.financiamiento.cuadro.porcentajes.porcentaje_gam_publico "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.porcentajes.porcentaje_gam_privado "numberToString"}}</td>
	  {{/ifNotEquals}}
        </tr>
        <tr style="page-break-inside: avoid;">
          <td class="titulo" colspan="2">TOTALES</td>
	  {{#ifEquals cartera 3}}
	  <td class="titulo right" colspan="4">{{filter informe.financiamiento.cuadro.totales.costo_total "numberToString"}}</td>
          <td class="titulo right" colspan="2">{{filter informe.financiamiento.cuadro.totales.fdi_pp "numberToString"}}</td>
	  {{else}}
	  <td class="titulo right" colspan="5">{{filter informe.financiamiento.cuadro.totales.costo_total "numberToString"}}</td>
          <td class="titulo right" colspan="2">{{filter informe.financiamiento.cuadro.totales.fdi_pp "numberToString"}}</td>
          <td class="titulo right" colspan="2">{{filter informe.financiamiento.cuadro.totales.gam_pp "numberToString"}}</td>
	  {{/ifEquals}}
          
         
        </tr>
        <!--<tr style="page-break-inside: avoid;">
          <td class="titulo" colspan="2">TOTALES</td>
          <td class="titulo right" colspan="2">{{filter informe.financiamiento.cuadro.totales.fdi_gam "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.totales.beneficiarios "numberToString"}}</td>
          <td class="titulo right">{{filter informe.financiamiento.cuadro.totales.otros "numberToString"}}</td>
          <td class="titulo right" colspan="2">{{filter informe.financiamiento.cuadro.totales.fdi_pp "numberToString"}}</td>
        </tr>-->
      {{/equal}}
      </table>
      <p>* Aporte en especie en caso excepcional</p>
      {{#notEqual informe.financiamiento.cuadro.observacion ''}}
      <p><strong>Detalle del aporte del beneficiario</strong><br>
        {{breaklines informe.financiamiento.cuadro.observacion}}</p>
      {{/notEqual}}
    </section>
    <br>
  <!--
  </div>

  <div style="page-break-inside: avoid;">
  -->
    <section class="informe-evaluacion" style="page-break-inside: avoid;">
      <table class="font-small">
        <tr>
          <td rowspan="3" class="bold backcolor2" width="40%">ESTRUCTURA DE FINANCIAMIENTO ELABORADA POR:</td>
          <td>Firma:</td>
          <td style="height:40px;"></td>
        </tr>
        <tr>
          <td>Nombre:</td>
          <td>{{informe.tecnico.nombre}}</td>
        </tr>
        <tr>
          <td>Cargo:</td>
          <td>{{informe.tecnico.cargo}}</td>
        </tr>
      </table>
    </section>
  </div>

</body>
</html>
